#!/usr/bin/env python
# -*- coding: utf-8 -*-
# @Date  : 2024/7/3 16:08
# @File  : env.py.py
# @Author: 
# @Desc  :

LLM_API_KEY= "sk-xxxxx"
LLM_BASE_URL = "https://api.deepseek.com"
LLM_MODEL = "deepseek-chat"
# Stable diffusion API
SD_API = "http://127.0.0.1:7860"